.grid-container{
    display: grid;
    margin: 30%;
    margin-left: 4rem;
    grid-template-columns: 5rem 8rem 5rem;
    gap: 1.7rem;
    justify-content: center;
    position: relative;

}
body{background-color: rgba(0, 0, 0, 0.838);
}
.box1{
    background: linear-gradient(180deg,black,blue 90%);
    border-radius: 2rem;
    height: 12rem;
    display: flex;
    width: 9rem;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 2.7rem;
    overflow: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}
.box1:hover{
    transform: scale(1.15);
    transition: 0.4s ease-in-out;
    box-shadow: 1px 1px 22px lightblue;
}
.p1{
    position: absolute;
    object-fit: cover;
    border-radius: 2rem;
    height: 100%;
    width: 100%;
    transform-origin: center center -150px;
}
.p1:nth-child(1){
    transform: rotateY('90deg') translateZ(150px);
}
.box2{
    background: linear-gradient(180deg,rgba(0, 255, 255, 0.605),whitesmoke 90%);
    border-radius: 2rem;
    height: 15rem;
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}
.box2:hover{
    transform: scale(1.15);
    box-shadow: 1px 1px 20px rgb(6, 242, 242);
    transition: 0.4s ease-in-out;
}
.p2{
    position: absolute;
    border-radius: 2rem;
    height: 100%;
    width: 100%;
}
.box3{
    background: linear-gradient(180deg,black,blue 90%);
    border-radius: 2rem;
    height: 12rem;
    display: flex;
    width: 9rem;
    justify-content: center;
    align-items: center;
    margin-top: 2.7rem;
    cursor: pointer;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}
.box3:hover{
    transform: scale(1.15);
    box-shadow: 1px 1px 20px whitesmoke;
    transition: 0.4s ease-in-out;
}
.p3{
    border-radius: 2rem;
    height: 100%;
    width: 100%;
}
.find{
    display: grid;
    grid-template-columns: 9rem;
    width: 25rem;
    height: 17rem;
    background-color: whitesmoke;
    margin-left: 0;
    margin-right: 0;
    border-radius: 1.5rem;
    justify-content: start;
    text-align: center;
    position: absolute;
    top: 28rem;
    left: 0.9rem;
}
.span2{
    font-size: 2.5rem;
    font-family: 'sacramento';
    white-space: nowrap;
    letter-spacing: 10px;
}
.span1{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    text-align: center;
}
.span3{
    font-size: 3.5rem;
    white-space: nowrap;
    letter-spacing: 9px;
    color: aliceblue;
}
.span4{
    font-size: 3.5rem;
    white-space: nowrap;
    letter-spacing: 9px;
    color: aliceblue;
}
.grid-container2{
    display: grid;
    grid-template-columns: 2rem 2rem 2rem 2rem;
    gap: 1rem;
    justify-content: center;
    padding: 1.6rem;
}
.box11{
    height: 3px;
    border-radius: 6px;
    background-color: black;
    z-index: 1;
}
.box12{
    height: 3px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 1;
}
.box13{
    height: 3px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 1;
}
.box14{
    height: 3px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 1;
}
.start{
    background-color: black;
    height: 2rem;
    width: 16rem;
    align-items: center;
    justify-items: center;
    border-radius: 2rem;
    margin-left: 4rem;
    position: relative;
    cursor: pointer;
}
.start:hover{
    transform: scale(1.05);
}
.get{
    font-size: 0.9rem;
    color: aliceblue;
    position: absolute;
    left: 5.7rem;
    top: 1px;
    margin-top: 7px;
    margin-bottom: 0;
}

@keyframes rotate {
    0%{
        transform: translatex(0deg) rotateY('0deg');
    }

    100%{
        transform: translatex(0px) rotatey(360deg)
    }
}
.glow::after{
    content: "";
    position: absolute;
    inset: 9px;
    background: black;
    border-radius: 15px;
}
@media screen and (min-width:600px){
    .grid-container{ 
     flex-direction: row;
     justify-content: space-between;
     justify-items: center;
     max-width: 600px;
    }
     
    
}